<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" routerLink="/">Sistema <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="listar-empleado">Listar empleado</a>
        <a class="nav-item nav-link" routerLink="agregar-empleado">Agregar empleado</a>
    </div>
</nav>
<div class="container">
  <!-- Espacio donde se va a mostrar lo que contiene el componente, dependiendo la ruta (path) en el que este -->
  <router-outlet></router-outlet>
</div>
